
.navbar{
background-color: bisque;
padding: 5px;
padding-bottom: 5px ;
margin-bottom: 30px;




}
.navbar li {
    
    /* background-color: #2fc95d; */
    padding: 5px;
    margin: auto;
    display: inline-block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;


}