@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

/* * {
    padding: 0;
    margin: 0;
} */  

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    background-color: red;
    opacity: 1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 10;
    animation-name: loading;
    z-index: 3;

}


.blend {
display: block;
align-items:flex-start;
justify-content: flex-start;
margin-top: 0px;
margin-bottom: 0%;
height: 0px;

}

.blend2 {
    display: block;
    align-items:flex-end;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0%;
    height: 0px;
    
}

.blend2 h1{
    color: rgb(25, 34, 25);
    font-size: 70px;
    height: 20px;
    mix-blend-mode: overlay;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 1550px;
    margin-top: 10px;
    margin-left: 20px;
    
    
}



.blend h1{
    color: hsl(184, 94%, 51%);
    font-size: 70px;
    height: 20px;
    mix-blend-mode: overlay;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 10px;
    margin-left: 20px;
    
    
}

.anime {

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}
@keyframes loading {
0% { opacity: 0.9;right: 0px; top: 0px;   }
25% { opacity: 0.7;right: 50px; top: 50px;   }
50% { opacity: 0.5;right: 0px; top: 50px;   }
75% { opacity: 0.3;right: 50px; top: 0px;   }
100% { opacity: 0.1;right: 0px; top: 0px;   }
} 




.parallax {

background-image: url(back2.jpg);

min-height: 500px;
min-width: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover ;
}

@media (max-width: 500px ) {
    .conteiner {
        font-size: 1.5rem;
        padding: 10px;
        text-align: center;
        margin: auto;
        /* height: 500px; */
       
        /* position: absolute;
        top: 0;
left: 0;
right: 0;
         */ 
        



    }

    /* .parallax{
        margin: auto;
        height: 800px;
        width: 800px;

    } */

}

@media (max-width:800px) {

    .parallax{
        margin: auto;
        height: 4000px;
        width: 800px;

    }
    .circle {
     opacity: 0;
       

    }
    
}  



body {

 
    font-family: #f1f1f1 normal 16 'Playfair Display SC', serif ;

}
    a {
        color: chocolate;
        text-decoration: none;
        font-size: 20px;
        
    }
    a:hover {
        text-decoration: underline;
    }
    
    a:visited {
        color: #86898f;
    }

.avatar {
    width: 200px;
    border-radius: 24px;
    box-shadow: 4px 4px 14px rgba(0,0,0.25); 


}
    .avatar:hover {
        transform: scale(1.2);
    }


.info-text a{
    font-size: 25px;
    /* padding-left: 30px; */
    

}

.bg-yellow  {
    margin-left: 50px;
    /* padding-left: 30px; */
    /* padding-right: 100px; */
background-color: beige;
 border-radius: 40px;
box-shadow: 4px 4px 14px rgba(0,0,0.25);
text-align: center; 

}

.bg-yellow  h2{
   /*    */
   margin-bottom: 20px;
   /* padding-left: 60px; */
           margin: 10%;
           /* padding-left: 30px; */
           font-size: 25px;


}


.info {

    padding-top: 1px;
    display: flex;
    margin-bottom: 40px;
   

   
}

.info-text {
margin-left: 80px;
background-color: beige;
border-radius: 40px;
box-shadow: 4px 4px 14px rgba(0,0,0.25);
text-align: center;

 
}


.info h2 {
    
    padding-bottom: 0px;
    padding-top: 0px;

    
}


.info-text h3 {
     margin-bottom: 20px;
        margin: 10%;
        padding-left: 30px;
        font-size: 25px;
    
    }
    .info-text h1 {
        margin-bottom: 20px;
           margin: 10%;
           /* padding-left: 30px; */
           font-size: 25px;
       
       }
    

.info p {
   color: rgb(243, 151, 151);
   margin: 10%;
   font-style: unset;
   font-size: 20px;
   
   


}

/* .soc {

    background-color: burlywood; /*можно побаловаться с цветом фона */ 
    /* padding: 15px; */
    /* border: 8px solid  khaki; */
    /* margin: 25px; */
/* }  */

.conteiner {
    width: 750px;
    margin: auto;
    padding-top: 30px;
    /* background-color:#000000; */
    
    
}












.bg-green {
    background-color: #e5ffe7;  
}


.bg-red {
    background-color: #ffe5e5;
}



.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card h2 {
    margin-bottom: 10px;
    margin-top: 1px;
}

/* .list {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style-type: decimal;
} */




.list {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 90px;
    display: inline-block;
   
   

    list-style-type: decimal;
}

 .list li {
color: #86898f;
font-size: 30px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



 }


 .table {
width: 100%;

 }
 
.table tr:nth-child(1){
    color: #000000;
    font-weight: 600;
}
   /* odd нечет \ even чёт  
.table tr:nth-child(odd ) {   
    background-color: #0ca3df;

} */





.spisokurl {
    list-style: none;
padding: 0;
}

.spisokurl li {
    margin-bottom: 10px;
         
padding-bottom: 5px;
border-bottom: 1px solid chocolate;
}

  .contact{
    background-color:  #fff9dc; 
    margin-bottom: 50px;
    padding-left: 20px;
} 
.contact h1{
    text-align: center;
    padding-bottom: 0px;
}

.form-group label {
display: block;
font-size: 14px;
color: #86898f;
padding-top: 0px;

}
.contact label {
    padding-left: 5px;
}

#name {
 padding-left: 5px;
}
#email {
    padding-left: 5px;
}


@media (max-width:500px)  {
    .row {
        display: block;
        text-align: center;




    }





}





.form-group input {
width: 60%;
/* background: transparent; */
box-sizing: border-box;
border: none;
border-bottom: 1px solid #ccc ;
color: #000000;
padding: 15px 0px 10px;
outline: none;
/* поставить шрифт семь подходящшитй  */
font-family: inherit; 


}
.row {
    display: flex;
    margin-bottom: 20px;

}


.row > .form-group {
    width: 50%;
    margin-right: 20px;

}

.row > .form-group :last-child {
  
    margin-right: 0px;

}


.but {
background-color: hsl(0, 13%, 19%);
padding: 15px 30px;
margin-bottom: 15px;
color: khaki; 
border: none;
cursor: pointer;
font-family: inherit;
}

.but:hover {
    opacity: 0.8 ;
}